<h1>Leaflet Map</h1>

<div id="map"></div>

<div class="form" id="form">
  <form>
    Longitude :<br />
    <input type="text" name="longitude" id="longitude" /><br>
    Latitude :<br />
    <input type="text" name="latitude" id="latitude" /><br>
    Message :<br />
    <input type="text" name="message" id="message" /><br>
    <input type="submit" name="submit" value="submit" id="submit">
  </form>
</div>
